<!-- Example row of columns -->

<div ng-init="">
    <div class="row" ng-show="choix() == undefined">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12">
                <h4 class="title text-center text-capitalize center-block label-default">LES P&Ecirc;LE-M&Ecirc;LE PHOTO STANDARDS - PORTRAIT OU PAYSAGE</h4>
                <div  class="gallery-box col-md-2">
                <span class="title text-center text-capitalize center-block">pele mele a4</span> 
                    <div class="thumbnail" >
                      <img src="img/pele-mele-80x120.jpg" />
                      <span class="title text-center center-block">portrait ou paysage</span>
                    </div>

                    <div class="btn-group text-center center-block">
                      <a class="btn btn-xs btn-info center-block" ng-click="">
                        creer pele-mele
                      </a>
                    </div>
                 </div>
                 <div  class="gallery-box col-md-2">
                <span class="title text-center text-capitalize center-block">pele mele 30x40</span> 
                    <div class="thumbnail" >
                      <img src="img/pele-mele-80x120.jpg" />
                      <span class="title text-center center-block">portrait ou paysage</span>
                    </div>

                    <div class="btn-group text-center center-block">
                      <a class="btn btn-xs btn-info center-block" ng-click="">
                        creer pele-mele
                      </a>
                    </div>
                 </div>
                 <div  class="gallery-box col-md-2">
                <span class="title text-center text-capitalize center-block">pele mele 40x50</span> 
                    <div class="thumbnail" >
                      <img src="img/pele-mele-80x120.jpg" />
                      <span class="title text-center center-block">portrait ou paysage</span>
                    </div>

                    <div class="btn-group text-center center-block">
                      <a class="btn btn-xs btn-info center-block" ng-click="">
                        creer pele-mele
                      </a>
                    </div>
                 </div>
                 <div  class="gallery-box col-md-2">
                <span class="title text-center text-capitalize center-block">pele mele 40x60</span> 
                    <div class="thumbnail" >
                      <img src="img/pele-mele-80x120.jpg" />
                      <span class="title text-center center-block">portrait ou paysage</span>
                    </div>

                    <div class="btn-group text-center center-block">
                      <a class="btn btn-xs btn-info center-block" ng-click="">
                        creer pele-mele
                      </a>
                    </div>
                 </div>
                 <div  class="gallery-box col-md-2">
                <span class="title text-center text-capitalize center-block">pele mele 50x70</span> 
                    <div class="thumbnail" >
                      <img src="img/pele-mele-80x120.jpg" />
                      <span class="title text-center center-block">portrait ou paysage</span>
                    </div>

                    <div class="btn-group text-center center-block">
                      <a class="btn btn-xs btn-info center-block" ng-click="">
                        creer pele-mele
                      </a>
                    </div>
                 </div>
                 <div  class="gallery-box col-md-2">
                <span class="title text-center text-capitalize center-block">pele mele 70x80</span> 
                    <div class="thumbnail" >
                      <img src="img/pele-mele-80x120.jpg" />
                      <span class="title text-center center-block">portrait ou paysage</span>
                    </div>

                    <div class="btn-group text-center center-block">
                      <a class="btn btn-xs btn-info center-block" ng-click="">
                        creer pele-mele
                      </a>
                    </div>
                 </div>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-7">
                <h4 class="title text-center text-capitalize center-block label-default">LES P&Ecirc;LE-M&Ecirc;LE PHOTO GRAND FORMAT</h4>
                <div  class="gallery-box col-md-4">
                <span class="title text-center text-capitalize center-block">pele mele 70x100</span> 
                    <div class="thumbnail" >
                      <img src="img/pele-mele-80x120.jpg" />
                      <span class="title text-center center-block">portrait ou paysage</span>
                    </div>

                    <div class="btn-group text-center center-block">
                      <a class="btn btn-xs btn-info center-block" ng-click="">
                        creer pele-mele
                      </a>
                    </div>
                 </div>
                 <div  class="gallery-box col-md-4">
                <span class="title text-center text-capitalize center-block">pele mele 80x120</span> 
                    <div class="thumbnail" >
                      <img src="img/pele-mele-80x120.jpg" />
                      <span class="title text-center center-block">portrait ou paysage</span>
                    </div>

                    <div class="btn-group text-center center-block">
                      <a class="btn btn-xs btn-info center-block" ng-click="">
                        creer pele-mele
                      </a>
                    </div>
                 </div>
                 <div  class="gallery-box col-md-4">
                <span class="title text-center text-capitalize center-block">pele mele 100x150</span> 
                    <div class="thumbnail" >
                      <img src="img/pele-mele-80x120.jpg" />
                      <span class="title text-center center-block">portrait ou paysage</span>
                    </div>

                    <div class="btn-group text-center center-block">
                      <a class="btn btn-xs btn-info center-block" ng-click="">
                        creer pele-mele
                      </a>
                    </div>
                 </div>

            </div>

            <div class="col-md-5">
                <h4 class="title text-center text-capitalize center-block label-default">LES P&Ecirc;LE-M&Ecirc;LE PHOTO CARR&Eacute;S</h4>
                <div  class="gallery-box col-md-6">
                <span class="title text-center text-capitalize center-block">pele mele 30x30</span> 
                    <div class="thumbnail" >
                      <img src="img/pele-mele-80x120.jpg" />
                      <span class="title text-center center-block">carr&eacute;</span>
                    </div>

                    <div class="btn-group text-center center-block">
                      <a class="btn btn-xs btn-info center-block" ng-click="">
                        creer pele-mele
                      </a>
                    </div>
                 </div>
                 <div  class="gallery-box col-md-6">
                <span class="title text-center text-capitalize center-block">pele mele 50x50</span> 
                    <div class="thumbnail" >
                      <img src="img/pele-mele-80x120.jpg" />
                      <span class="title text-center center-block">carr&eacute;</span>
                    </div>

                    <div class="btn-group text-center center-block">
                      <a class="btn btn-xs btn-info center-block" ng-click="create('c_5050')">
                        creer pele-mele
                      </a>
                    </div>
                 </div>

                </div>
            </div>  
        </div>
        <div class="col-md-2">
            <div class="row vertical">
            <div class="col-md-12">
                <h5 class="title text-center text-capitalize center-block label-info">Créer mon pêle-mêle photo, c'est facile !</h5>
                <div  class="gallery-box col-md-12">
                    <div class="thumbnail" >
                      <img src="img/default_choose.jpg" />
                      <span class="title text-center center-block">Je s&eacute;lectionne mon format de pêle-mêle photo.</span>
                    </div>

                 </div>
                <div  class="gallery-box col-md-12">
                    <div class="thumbnail" >
                      <img src="img/default_create.jpg" />
                      <span class="title text-center center-block">J'ajoute ma ou mes photos<!--, un texte &eacute;ventuel, un fond de page-->...</span>
                    </div>

                </div>
                <div  class="gallery-box col-md-12">
                    <div class="thumbnail" >
                      <img src="img/default_order.jpg" />
                      <span class="title text-center center-block">Une fois ma cr&eacute;ation termin&eacute;e, je commande <!-- et re&ccedil;ois -->mon pêle-mêle personnalisé<!-- par courrier-->.</span>
                    </div>

                </div>
                 
            </div>
        </div>
        </div>
    </div>
    
    <br><br>
    <br><br>
    <br><br>
    <div ng-hide="choix() == undefined">
    <div flow-name="obj.flow"
        flow-init="{target: 'targetedUpload'}"
        flow-drop
        flow-files-submitted="$flow.upload()"
        flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
        class="droparea">
    <div class="row">
        <div class="col-md-12 bottom">
            <div class="drop center-block" ng-class="dropClass">
                <span class="btn btn-default" flow-btn>Upload Image</span>
                <span class="btn btn-default" flow-btn flow-directory ng-show="$flow.supportDirectory">Upload Folder</span>
                <b>OR</b>
                <span>Drag And Drop your images here</span>
            </div>
        </div>
        <div class="col-md-12">
            <div> <!--  class="Collage effect-parent" -->
                <div ng-repeat="file in $flow.files" class="gallery-box col-md-3">
                  <span class="title">{{file.name}}</span>
                  <div class="thumbnail" ng-show="$flow.files.length"> <!--  Image_Wrapper -->
                    <img class="img-thumbnail" flow-img="file" />
                  </div>
                  <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                    <div class="progress-bar" role="progressbar"
                         aria-valuenow="{{file.progress() * 100}}"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         ng-style="{width: (file.progress() * 100) + '%'}">
                      <span class="sr-only">{{file.progress()}}% Complete</span>
                    </div>
                  </div>
                  <div class="btn-group">
                    <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                      Remove
                    </a>
                  </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    
    </div>
        <br>
    <div class="row">
        <div class="col-md-12 right btn-group-* col-md-offset-9">
            Fichiers : #{{obj.flow.files.length}}
            <img src="{{f.file}}" ng-repeat="f in obj.flow.files"/>
            
            <button class="btn btn-info" ng-click="checkFlow()">annuler</button>
            <button class="btn btn-info" ng-class="{active: file.isUploading()}">creer</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 right btn-group-* col-md-offset-10">
            I have uploaded files: #{{obj.flow.files.length}}
            <img src="{{f.file}}" ng-repeat="f in obj.flow.files"/>
            
            
        </div>
    </div>
    </div>
</div>

<!-- <script src='js/controller/PelemeleController.js'></script> -->